/*
 * Begin Parallax Star background.
 * Copied from https://codepen.io/saransh/pen/BKJun
 */

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1060px 572px #fff, 1344px 468px #fff, 129px 880px #fff,
    477px 1947px #fff, 1430px 522px #fff, 1327px 680px #fff, 480px 442px #fff,
    251px 563px #fff, 1330px 750px #fff, 409px 661px #fff, 991px 1670px #fff,
    1999px 719px #fff, 1444px 1660px #fff, 348px 152px #fff, 1702px 411px #fff,
    43px 362px #fff, 1196px 1825px #fff, 535px 64px #fff, 927px 1400px #fff,
    1903px 1546px #fff, 1135px 926px #fff, 1705px 1038px #fff, 315px 107px #fff,
    741px 1553px #fff, 1808px 303px #fff, 188px 1869px #fff, 328px 185px #fff,
    852px 195px #fff, 1315px 86px #fff, 282px 1454px #fff, 706px 800px #fff,
    520px 98px #fff, 1276px 1268px #fff, 1665px 370px #fff, 1732px 1549px #fff,
    1602px 1371px #fff, 969px 1934px #fff, 1301px 1148px #fff,
    1070px 1304px #fff, 1132px 1028px #fff, 278px 1516px #fff, 1397px 791px #fff,
    249px 775px #fff, 1063px 1344px #fff, 845px 1523px #fff, 1977px 489px #fff,
    1141px 785px #fff, 1110px 73px #fff, 1508px 1205px #fff, 538px 1463px #fff,
    1960px 1900px #fff, 1923px 1139px #fff, 431px 802px #fff, 1831px 1522px #fff,
    1964px 691px #fff, 223px 710px #fff, 1414px 588px #fff, 718px 1319px #fff,
    339px 1693px #fff, 1491px 397px #fff, 368px 999px #fff, 964px 1581px #fff,
    1841px 1653px #fff, 632px 965px #fff, 149px 1320px #fff, 478px 960px #fff,
    1635px 1726px #fff, 1108px 1939px #fff, 1877px 154px #fff, 1813px 570px #fff,
    1164px 1574px #fff, 1693px 834px #fff, 483px 889px #fff, 708px 1684px #fff,
    760px 1766px #fff, 992px 364px #fff, 845px 1291px #fff, 402px 278px #fff,
    948px 659px #fff, 983px 687px #fff, 1168px 1594px #fff, 1426px 1589px #fff,
    494px 722px #fff, 590px 1495px #fff, 1341px 553px #fff, 1158px 625px #fff,
    1949px 1503px #fff, 1585px 237px #fff, 450px 7px #fff, 188px 207px #fff,
    1538px 326px #fff, 807px 1424px #fff, 638px 1280px #fff, 706px 844px #fff,
    1887px 195px #fff, 696px 897px #fff, 1408px 311px #fff, 224px 591px #fff,
    597px 740px #fff, 442px 188px #fff, 278px 1659px #fff, 193px 698px #fff,
    1525px 171px #fff, 575px 515px #fff, 1532px 121px #fff, 466px 1593px #fff,
    785px 482px #fff, 1472px 890px #fff, 877px 1559px #fff, 357px 351px #fff,
    829px 1071px #fff, 1877px 1400px #fff, 949px 477px #fff, 1167px 376px #fff,
    1653px 394px #fff, 1909px 858px #fff, 542px 1839px #fff, 1332px 217px #fff,
    879px 1465px #fff, 697px 1173px #fff, 1460px 1189px #fff, 1350px 397px #fff,
    523px 1441px #fff, 291px 1077px #fff, 713px 424px #fff, 541px 1644px #fff,
    1780px 179px #fff, 317px 1773px #fff, 921px 1642px #fff, 98px 171px #fff,
    1587px 1893px #fff, 1156px 1290px #fff, 1610px 57px #fff, 139px 1169px #fff,
    1062px 908px #fff, 1563px 1205px #fff, 997px 965px #fff, 752px 308px #fff,
    1360px 1312px #fff, 633px 1952px #fff, 1703px 98px #fff, 345px 1833px #fff,
    415px 456px #fff, 871px 1342px #fff, 1399px 1384px #fff, 754px 1800px #fff,
    887px 1790px #fff, 1520px 1369px #fff, 1180px 133px #fff, 155px 1003px #fff,
    1341px 86px #fff, 1311px 521px #fff, 345px 1664px #fff, 390px 2000px #fff,
    23px 1020px #fff, 1333px 1300px #fff, 1084px 859px #fff, 1459px 1236px #fff,
    967px 239px #fff, 1047px 691px #fff, 1861px 1201px #fff, 369px 169px #fff,
    1748px 504px #fff, 930px 1881px #fff, 1127px 1063px #fff, 1004px 709px #fff,
    539px 1440px #fff, 323px 452px #fff, 1467px 1247px #fff, 1538px 172px #fff,
    570px 1070px #fff, 801px 1086px #fff, 1038px 108px #fff, 466px 275px #fff,
    1057px 479px #fff, 152px 1471px #fff, 683px 1074px #fff, 553px 1885px #fff,
    529px 1614px #fff, 448px 350px #fff, 565px 608px #fff, 919px 340px #fff,
    929px 1451px #fff, 1760px 1247px #fff, 1411px 1529px #fff, 1315px 221px #fff,
    1460px 827px #fff, 1194px 794px #fff, 1494px 1430px #fff, 751px 59px #fff,
    1931px 1596px #fff, 1116px 1581px #fff, 552px 1062px #fff, 705px 1762px #fff,
    607px 862px #fff, 554px 994px #fff, 1414px 1733px #fff, 1054px 832px #fff,
    718px 1836px #fff, 208px 580px #fff, 846px 234px #fff, 194px 839px #fff,
    976px 112px #fff, 626px 1494px #fff, 1265px 596px #fff, 637px 186px #fff,
    562px 1696px #fff, 708px 128px #fff, 1742px 1829px #fff, 510px 1972px #fff,
    242px 836px #fff, 235px 1241px #fff, 1590px 897px #fff, 805px 392px #fff,
    1140px 1218px #fff, 908px 1956px #fff, 49px 1370px #fff, 1593px 1848px #fff,
    421px 90px #fff, 1199px 667px #fff, 1159px 1556px #fff, 786px 1641px #fff,
    942px 1580px #fff, 1582px 1165px #fff, 1450px 330px #fff, 554px 279px #fff,
    1584px 1438px #fff, 1174px 325px #fff, 1078px 1467px #fff, 1576px 378px #fff,
    861px 1532px #fff, 1323px 132px #fff, 515px 1581px #fff, 317px 1442px #fff,
    1174px 1281px #fff, 894px 1995px #fff, 1105px 1737px #fff, 1155px 542px #fff,
    1957px 602px #fff, 2000px 953px #fff, 1321px 178px #fff, 657px 610px #fff,
    439px 28px #fff, 1490px 1098px #fff, 1147px 383px #fff, 90px 261px #fff,
    880px 1880px #fff, 259px 371px #fff, 149px 1015px #fff, 213px 7px #fff,
    1931px 239px #fff, 620px 331px #fff, 1542px 845px #fff, 363px 593px #fff,
    998px 1035px #fff, 1767px 1036px #fff, 234px 1364px #fff, 1086px 668px #fff,
    375px 1854px #fff, 702px 1742px #fff, 1213px 427px #fff, 175px 716px #fff,
    1441px 1874px #fff, 149px 310px #fff, 1114px 454px #fff, 187px 1085px #fff,
    637px 1327px #fff, 603px 1500px #fff, 248px 966px #fff, 832px 357px #fff,
    739px 323px #fff, 1243px 1427px #fff, 1099px 862px #fff, 128px 1199px #fff,
    1539px 1148px #fff, 645px 1129px #fff, 1289px 442px #fff, 1737px 1204px #fff,
    1834px 125px #fff, 880px 1279px #fff, 833px 476px #fff, 1089px 255px #fff,
    1093px 664px #fff, 1635px 719px #fff, 1274px 1135px #fff, 1682px 161px #fff,
    292px 1607px #fff, 1487px 859px #fff, 1679px 1311px #fff, 445px 53px #fff,
    1067px 1024px #fff, 1124px 1383px #fff, 19px 573px #fff, 1843px 1615px #fff,
    1324px 1397px #fff, 571px 310px #fff, 1498px 549px #fff, 569px 496px #fff,
    310px 1289px #fff, 1699px 1048px #fff, 1353px 1131px #fff, 1234px 972px #fff,
    1328px 188px #fff, 986px 111px #fff, 1270px 1061px #fff, 869px 736px #fff,
    1449px 1557px #fff, 207px 1255px #fff, 1646px 165px #fff, 627px 567px #fff,
    1001px 1989px #fff, 1202px 1856px #fff, 1294px 1754px #fff, 102px 552px #fff,
    1518px 1960px #fff, 786px 296px #fff, 1107px 455px #fff, 473px 516px #fff,
    436px 1295px #fff, 676px 517px #fff, 1674px 1092px #fff, 1400px 1544px #fff,
    1052px 1183px #fff, 505px 1925px #fff, 1699px 713px #fff, 249px 1827px #fff,
    302px 1823px #fff, 166px 332px #fff, 1851px 259px #fff, 749px 726px #fff,
    13px 1425px #fff, 1214px 408px #fff, 1474px 1600px #fff, 1743px 1138px #fff,
    761px 1684px #fff, 983px 1684px #fff, 212px 762px #fff, 519px 406px #fff,
    1167px 1694px #fff, 285px 160px #fff, 1373px 1827px #fff, 325px 819px #fff,
    1542px 1075px #fff, 1854px 927px #fff, 901px 1290px #fff, 1091px 388px #fff,
    902px 1337px #fff, 1956px 709px #fff, 61px 10px #fff, 345px 1982px #fff,
    130px 300px #fff, 715px 1519px #fff, 1614px 1989px #fff, 718px 120px #fff,
    564px 194px #fff, 1838px 1772px #fff, 1987px 1309px #fff, 618px 1916px #fff,
    1814px 1179px #fff, 1234px 1015px #fff, 1345px 637px #fff, 1766px 422px #fff,
    1033px 1284px #fff, 1705px 1243px #fff, 250px 1048px #fff, 734px 424px #fff,
    235px 1909px #fff, 438px 1754px #fff, 1589px 613px #fff, 1409px 1299px #fff,
    1292px 810px #fff, 958px 1915px #fff, 409px 642px #fff, 1563px 933px #fff,
    1285px 1222px #fff, 183px 1254px #fff, 1382px 1837px #fff, 1903px 894px #fff,
    909px 1715px #fff, 1084px 198px #fff, 1427px 1405px #fff, 1219px 1035px #fff,
    153px 679px #fff, 1859px 633px #fff, 1199px 920px #fff, 1633px 903px #fff,
    213px 1592px #fff, 722px 1059px #fff, 1752px 63px #fff, 1209px 1271px #fff,
    775px 968px #fff, 657px 1322px #fff, 213px 54px #fff, 1161px 1734px #fff,
    883px 1141px #fff, 23px 744px #fff, 1118px 1533px #fff, 1032px 177px #fff,
    1743px 1155px #fff, 935px 350px #fff, 590px 1215px #fff, 1235px 1379px #fff,
    1708px 834px #fff, 60px 52px #fff, 1113px 609px #fff, 1406px 1845px #fff,
    1811px 427px #fff, 1795px 264px #fff, 542px 32px #fff, 1946px 496px #fff,
    525px 1420px #fff, 926px 411px #fff, 1611px 1873px #fff, 1140px 1822px #fff,
    357px 1304px #fff, 1988px 1126px #fff, 1692px 825px #fff, 229px 1595px #fff,
    96px 894px #fff, 1286px 589px #fff, 830px 1997px #fff, 1288px 1602px #fff,
    970px 341px #fff, 935px 530px #fff, 939px 845px #fff, 1988px 1571px #fff,
    1616px 98px #fff, 1604px 38px #fff, 889px 1628px #fff, 1213px 540px #fff,
    1267px 501px #fff, 1980px 1692px #fff, 129px 1743px #fff, 607px 1439px #fff,
    1976px 874px #fff, 687px 985px #fff, 1167px 1736px #fff, 112px 1806px #fff,
    1278px 1737px #fff, 1458px 1614px #fff, 1587px 1306px #fff,
    1546px 819px #fff, 1974px 95px #fff, 991px 1050px #fff, 1336px 1309px #fff,
    906px 549px #fff, 1343px 1476px #fff, 1653px 1014px #fff, 135px 1856px #fff,
    1029px 205px #fff, 1411px 1749px #fff, 1860px 786px #fff, 1177px 1729px #fff,
    31px 424px #fff, 142px 849px #fff, 1648px 783px #fff, 1446px 1507px #fff,
    759px 1281px #fff, 243px 1855px #fff, 1036px 655px #fff, 1728px 1790px #fff,
    1731px 958px #fff, 377px 729px #fff, 1932px 534px #fff, 1031px 1778px #fff,
    368px 278px #fff, 296px 1576px #fff, 643px 1024px #fff, 1078px 1971px #fff,
    1173px 753px #fff, 429px 986px #fff, 1761px 1052px #fff, 1164px 1381px #fff,
    1723px 435px #fff, 1358px 1621px #fff, 1578px 440px #fff, 505px 1066px #fff,
    1720px 1685px #fff, 681px 615px #fff, 611px 476px #fff, 761px 1091px #fff,
    308px 581px #fff, 145px 8px #fff, 280px 481px #fff, 1730px 982px #fff,
    291px 226px #fff, 1100px 46px #fff, 1628px 1028px #fff, 307px 1050px #fff,
    1701px 1944px #fff, 1745px 1567px #fff, 297px 350px #fff, 971px 179px #fff,
    1841px 1056px #fff, 873px 839px #fff, 659px 1948px #fff, 979px 1063px #fff,
    1013px 1355px #fff, 793px 1520px #fff, 785px 66px #fff, 279px 503px #fff,
    1004px 1339px #fff, 777px 773px #fff, 177px 1223px #fff, 1757px 294px #fff,
    1318px 758px #fff, 1869px 797px #fff, 131px 822px #fff, 800px 333px #fff,
    503px 1117px #fff, 193px 181px #fff, 718px 1924px #fff, 478px 1046px #fff,
    1453px 40px #fff, 1648px 120px #fff, 722px 1867px #fff, 89px 336px #fff,
    665px 1628px #fff, 1744px 1278px #fff, 571px 560px #fff, 606px 1975px #fff,
    1970px 1378px #fff, 19px 1956px #fff, 16px 1289px #fff, 918px 371px #fff,
    194px 1022px #fff, 1424px 1494px #fff, 840px 336px #fff, 1761px 1527px #fff,
    1794px 1906px #fff, 191px 1522px #fff, 1908px 601px #fff, 1329px 88px #fff,
    1510px 875px #fff, 1987px 1067px #fff, 982px 1213px #fff, 853px 1620px #fff,
    1195px 1438px #fff, 1218px 1318px #fff, 779px 801px #fff, 575px 1664px #fff,
    780px 887px #fff, 922px 745px #fff, 1538px 40px #fff, 675px 1529px #fff,
    1409px 693px #fff, 243px 1726px #fff, 548px 1904px #fff, 898px 1209px #fff,
    1667px 1269px #fff, 1099px 1711px #fff, 1929px 137px #fff,
    1511px 1026px #fff, 747px 1035px #fff, 1832px 234px #fff, 768px 1769px #fff,
    64px 1420px #fff, 1492px 1182px #fff, 1642px 1059px #fff, 1725px 1937px #fff,
    1842px 1746px #fff, 194px 1655px #fff, 228px 1886px #fff, 437px 51px #fff,
    1384px 1411px #fff, 1937px 1645px #fff, 478px 344px #fff, 541px 207px #fff,
    1767px 1946px #fff, 510px 792px #fff, 611px 130px #fff, 737px 1886px #fff,
    719px 1170px #fff, 501px 1901px #fff, 142px 448px #fff, 51px 1295px #fff,
    818px 1520px #fff, 1071px 846px #fff, 1426px 88px #fff, 1721px 1554px #fff,
    847px 968px #fff, 285px 1669px #fff, 590px 885px #fff, 131px 723px #fff,
    1437px 677px #fff, 928px 1204px #fff, 490px 629px #fff, 908px 428px #fff,
    760px 142px #fff, 559px 1357px #fff, 1784px 404px #fff, 752px 1523px #fff,
    1027px 261px #fff, 1346px 1937px #fff, 1555px 966px #fff, 1236px 1040px #fff,
    1363px 116px #fff, 1421px 365px #fff, 1789px 179px #fff, 1446px 559px #fff,
    1129px 750px #fff, 530px 1502px #fff, 1571px 1407px #fff, 1184px 1429px #fff,
    1465px 2000px #fff, 488px 1222px #fff, 1287px 746px #fff, 1767px 585px #fff,
    338px 633px #fff, 416px 302px #fff, 1724px 814px #fff, 927px 432px #fff,
    1238px 813px #fff, 104px 1355px #fff, 1133px 1766px #fff, 1045px 251px #fff,
    1874px 38px #fff, 1003px 5px #fff, 1231px 1712px #fff, 521px 1345px #fff,
    164px 1162px #fff, 1954px 801px #fff, 1528px 1345px #fff, 138px 333px #fff,
    375px 811px #fff, 802px 1627px #fff, 594px 1247px #fff, 1974px 346px #fff,
    1530px 575px #fff, 1257px 441px #fff, 852px 1285px #fff, 1362px 288px #fff,
    1889px 1372px #fff, 1316px 169px #fff, 1407px 217px #fff, 882px 15px #fff,
    1764px 43px #fff, 1342px 1345px #fff, 244px 1436px #fff, 1040px 907px #fff,
    1198px 1377px #fff, 1321px 840px #fff, 1833px 366px #fff, 1078px 1545px #fff,
    932px 1245px #fff, 1011px 702px #fff, 249px 962px #fff, 279px 1552px #fff,
    1481px 1977px #fff, 1465px 984px #fff, 166px 312px #fff, 732px 1463px #fff,
    1882px 1474px #fff, 7px 1258px #fff, 943px 1012px #fff, 1395px 697px #fff,
    1892px 231px #fff, 1324px 101px #fff, 341px 1372px #fff, 1584px 192px #fff,
    449px 1613px #fff, 1165px 879px #fff, 355px 136px #fff, 45px 1806px #fff,
    1192px 898px #fff, 1076px 1150px #fff, 1285px 1005px #fff, 836px 1684px #fff,
    1831px 1600px #fff, 1785px 204px #fff, 1317px 1014px #fff, 153px 962px #fff,
    1857px 1313px #fff, 18px 196px #fff, 1460px 1780px #fff, 1193px 1462px #fff,
    1476px 358px #fff, 336px 18px #fff, 337px 1561px #fff, 753px 563px #fff,
    1406px 869px #fff, 1840px 354px #fff, 782px 1627px #fff, 950px 789px #fff,
    833px 1853px #fff, 6px 1451px #fff, 1980px 17px #fff, 1870px 546px #fff,
    1636px 1054px #fff, 1312px 54px #fff, 818px 274px #fff, 1000px 1210px #fff,
    1658px 1797px #fff, 616px 1518px #fff, 1591px 433px #fff, 1181px 1450px #fff,
    1560px 560px #fff, 553px 1697px #fff, 963px 719px #fff, 707px 1389px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1060px 572px #fff, 1344px 468px #fff, 129px 880px #fff,
    477px 1947px #fff, 1430px 522px #fff, 1327px 680px #fff, 480px 442px #fff,
    251px 563px #fff, 1330px 750px #fff, 409px 661px #fff, 991px 1670px #fff,
    1999px 719px #fff, 1444px 1660px #fff, 348px 152px #fff, 1702px 411px #fff,
    43px 362px #fff, 1196px 1825px #fff, 535px 64px #fff, 927px 1400px #fff,
    1903px 1546px #fff, 1135px 926px #fff, 1705px 1038px #fff, 315px 107px #fff,
    741px 1553px #fff, 1808px 303px #fff, 188px 1869px #fff, 328px 185px #fff,
    852px 195px #fff, 1315px 86px #fff, 282px 1454px #fff, 706px 800px #fff,
    520px 98px #fff, 1276px 1268px #fff, 1665px 370px #fff, 1732px 1549px #fff,
    1602px 1371px #fff, 969px 1934px #fff, 1301px 1148px #fff,
    1070px 1304px #fff, 1132px 1028px #fff, 278px 1516px #fff, 1397px 791px #fff,
    249px 775px #fff, 1063px 1344px #fff, 845px 1523px #fff, 1977px 489px #fff,
    1141px 785px #fff, 1110px 73px #fff, 1508px 1205px #fff, 538px 1463px #fff,
    1960px 1900px #fff, 1923px 1139px #fff, 431px 802px #fff, 1831px 1522px #fff,
    1964px 691px #fff, 223px 710px #fff, 1414px 588px #fff, 718px 1319px #fff,
    339px 1693px #fff, 1491px 397px #fff, 368px 999px #fff, 964px 1581px #fff,
    1841px 1653px #fff, 632px 965px #fff, 149px 1320px #fff, 478px 960px #fff,
    1635px 1726px #fff, 1108px 1939px #fff, 1877px 154px #fff, 1813px 570px #fff,
    1164px 1574px #fff, 1693px 834px #fff, 483px 889px #fff, 708px 1684px #fff,
    760px 1766px #fff, 992px 364px #fff, 845px 1291px #fff, 402px 278px #fff,
    948px 659px #fff, 983px 687px #fff, 1168px 1594px #fff, 1426px 1589px #fff,
    494px 722px #fff, 590px 1495px #fff, 1341px 553px #fff, 1158px 625px #fff,
    1949px 1503px #fff, 1585px 237px #fff, 450px 7px #fff, 188px 207px #fff,
    1538px 326px #fff, 807px 1424px #fff, 638px 1280px #fff, 706px 844px #fff,
    1887px 195px #fff, 696px 897px #fff, 1408px 311px #fff, 224px 591px #fff,
    597px 740px #fff, 442px 188px #fff, 278px 1659px #fff, 193px 698px #fff,
    1525px 171px #fff, 575px 515px #fff, 1532px 121px #fff, 466px 1593px #fff,
    785px 482px #fff, 1472px 890px #fff, 877px 1559px #fff, 357px 351px #fff,
    829px 1071px #fff, 1877px 1400px #fff, 949px 477px #fff, 1167px 376px #fff,
    1653px 394px #fff, 1909px 858px #fff, 542px 1839px #fff, 1332px 217px #fff,
    879px 1465px #fff, 697px 1173px #fff, 1460px 1189px #fff, 1350px 397px #fff,
    523px 1441px #fff, 291px 1077px #fff, 713px 424px #fff, 541px 1644px #fff,
    1780px 179px #fff, 317px 1773px #fff, 921px 1642px #fff, 98px 171px #fff,
    1587px 1893px #fff, 1156px 1290px #fff, 1610px 57px #fff, 139px 1169px #fff,
    1062px 908px #fff, 1563px 1205px #fff, 997px 965px #fff, 752px 308px #fff,
    1360px 1312px #fff, 633px 1952px #fff, 1703px 98px #fff, 345px 1833px #fff,
    415px 456px #fff, 871px 1342px #fff, 1399px 1384px #fff, 754px 1800px #fff,
    887px 1790px #fff, 1520px 1369px #fff, 1180px 133px #fff, 155px 1003px #fff,
    1341px 86px #fff, 1311px 521px #fff, 345px 1664px #fff, 390px 2000px #fff,
    23px 1020px #fff, 1333px 1300px #fff, 1084px 859px #fff, 1459px 1236px #fff,
    967px 239px #fff, 1047px 691px #fff, 1861px 1201px #fff, 369px 169px #fff,
    1748px 504px #fff, 930px 1881px #fff, 1127px 1063px #fff, 1004px 709px #fff,
    539px 1440px #fff, 323px 452px #fff, 1467px 1247px #fff, 1538px 172px #fff,
    570px 1070px #fff, 801px 1086px #fff, 1038px 108px #fff, 466px 275px #fff,
    1057px 479px #fff, 152px 1471px #fff, 683px 1074px #fff, 553px 1885px #fff,
    529px 1614px #fff, 448px 350px #fff, 565px 608px #fff, 919px 340px #fff,
    929px 1451px #fff, 1760px 1247px #fff, 1411px 1529px #fff, 1315px 221px #fff,
    1460px 827px #fff, 1194px 794px #fff, 1494px 1430px #fff, 751px 59px #fff,
    1931px 1596px #fff, 1116px 1581px #fff, 552px 1062px #fff, 705px 1762px #fff,
    607px 862px #fff, 554px 994px #fff, 1414px 1733px #fff, 1054px 832px #fff,
    718px 1836px #fff, 208px 580px #fff, 846px 234px #fff, 194px 839px #fff,
    976px 112px #fff, 626px 1494px #fff, 1265px 596px #fff, 637px 186px #fff,
    562px 1696px #fff, 708px 128px #fff, 1742px 1829px #fff, 510px 1972px #fff,
    242px 836px #fff, 235px 1241px #fff, 1590px 897px #fff, 805px 392px #fff,
    1140px 1218px #fff, 908px 1956px #fff, 49px 1370px #fff, 1593px 1848px #fff,
    421px 90px #fff, 1199px 667px #fff, 1159px 1556px #fff, 786px 1641px #fff,
    942px 1580px #fff, 1582px 1165px #fff, 1450px 330px #fff, 554px 279px #fff,
    1584px 1438px #fff, 1174px 325px #fff, 1078px 1467px #fff, 1576px 378px #fff,
    861px 1532px #fff, 1323px 132px #fff, 515px 1581px #fff, 317px 1442px #fff,
    1174px 1281px #fff, 894px 1995px #fff, 1105px 1737px #fff, 1155px 542px #fff,
    1957px 602px #fff, 2000px 953px #fff, 1321px 178px #fff, 657px 610px #fff,
    439px 28px #fff, 1490px 1098px #fff, 1147px 383px #fff, 90px 261px #fff,
    880px 1880px #fff, 259px 371px #fff, 149px 1015px #fff, 213px 7px #fff,
    1931px 239px #fff, 620px 331px #fff, 1542px 845px #fff, 363px 593px #fff,
    998px 1035px #fff, 1767px 1036px #fff, 234px 1364px #fff, 1086px 668px #fff,
    375px 1854px #fff, 702px 1742px #fff, 1213px 427px #fff, 175px 716px #fff,
    1441px 1874px #fff, 149px 310px #fff, 1114px 454px #fff, 187px 1085px #fff,
    637px 1327px #fff, 603px 1500px #fff, 248px 966px #fff, 832px 357px #fff,
    739px 323px #fff, 1243px 1427px #fff, 1099px 862px #fff, 128px 1199px #fff,
    1539px 1148px #fff, 645px 1129px #fff, 1289px 442px #fff, 1737px 1204px #fff,
    1834px 125px #fff, 880px 1279px #fff, 833px 476px #fff, 1089px 255px #fff,
    1093px 664px #fff, 1635px 719px #fff, 1274px 1135px #fff, 1682px 161px #fff,
    292px 1607px #fff, 1487px 859px #fff, 1679px 1311px #fff, 445px 53px #fff,
    1067px 1024px #fff, 1124px 1383px #fff, 19px 573px #fff, 1843px 1615px #fff,
    1324px 1397px #fff, 571px 310px #fff, 1498px 549px #fff, 569px 496px #fff,
    310px 1289px #fff, 1699px 1048px #fff, 1353px 1131px #fff, 1234px 972px #fff,
    1328px 188px #fff, 986px 111px #fff, 1270px 1061px #fff, 869px 736px #fff,
    1449px 1557px #fff, 207px 1255px #fff, 1646px 165px #fff, 627px 567px #fff,
    1001px 1989px #fff, 1202px 1856px #fff, 1294px 1754px #fff, 102px 552px #fff,
    1518px 1960px #fff, 786px 296px #fff, 1107px 455px #fff, 473px 516px #fff,
    436px 1295px #fff, 676px 517px #fff, 1674px 1092px #fff, 1400px 1544px #fff,
    1052px 1183px #fff, 505px 1925px #fff, 1699px 713px #fff, 249px 1827px #fff,
    302px 1823px #fff, 166px 332px #fff, 1851px 259px #fff, 749px 726px #fff,
    13px 1425px #fff, 1214px 408px #fff, 1474px 1600px #fff, 1743px 1138px #fff,
    761px 1684px #fff, 983px 1684px #fff, 212px 762px #fff, 519px 406px #fff,
    1167px 1694px #fff, 285px 160px #fff, 1373px 1827px #fff, 325px 819px #fff,
    1542px 1075px #fff, 1854px 927px #fff, 901px 1290px #fff, 1091px 388px #fff,
    902px 1337px #fff, 1956px 709px #fff, 61px 10px #fff, 345px 1982px #fff,
    130px 300px #fff, 715px 1519px #fff, 1614px 1989px #fff, 718px 120px #fff,
    564px 194px #fff, 1838px 1772px #fff, 1987px 1309px #fff, 618px 1916px #fff,
    1814px 1179px #fff, 1234px 1015px #fff, 1345px 637px #fff, 1766px 422px #fff,
    1033px 1284px #fff, 1705px 1243px #fff, 250px 1048px #fff, 734px 424px #fff,
    235px 1909px #fff, 438px 1754px #fff, 1589px 613px #fff, 1409px 1299px #fff,
    1292px 810px #fff, 958px 1915px #fff, 409px 642px #fff, 1563px 933px #fff,
    1285px 1222px #fff, 183px 1254px #fff, 1382px 1837px #fff, 1903px 894px #fff,
    909px 1715px #fff, 1084px 198px #fff, 1427px 1405px #fff, 1219px 1035px #fff,
    153px 679px #fff, 1859px 633px #fff, 1199px 920px #fff, 1633px 903px #fff,
    213px 1592px #fff, 722px 1059px #fff, 1752px 63px #fff, 1209px 1271px #fff,
    775px 968px #fff, 657px 1322px #fff, 213px 54px #fff, 1161px 1734px #fff,
    883px 1141px #fff, 23px 744px #fff, 1118px 1533px #fff, 1032px 177px #fff,
    1743px 1155px #fff, 935px 350px #fff, 590px 1215px #fff, 1235px 1379px #fff,
    1708px 834px #fff, 60px 52px #fff, 1113px 609px #fff, 1406px 1845px #fff,
    1811px 427px #fff, 1795px 264px #fff, 542px 32px #fff, 1946px 496px #fff,
    525px 1420px #fff, 926px 411px #fff, 1611px 1873px #fff, 1140px 1822px #fff,
    357px 1304px #fff, 1988px 1126px #fff, 1692px 825px #fff, 229px 1595px #fff,
    96px 894px #fff, 1286px 589px #fff, 830px 1997px #fff, 1288px 1602px #fff,
    970px 341px #fff, 935px 530px #fff, 939px 845px #fff, 1988px 1571px #fff,
    1616px 98px #fff, 1604px 38px #fff, 889px 1628px #fff, 1213px 540px #fff,
    1267px 501px #fff, 1980px 1692px #fff, 129px 1743px #fff, 607px 1439px #fff,
    1976px 874px #fff, 687px 985px #fff, 1167px 1736px #fff, 112px 1806px #fff,
    1278px 1737px #fff, 1458px 1614px #fff, 1587px 1306px #fff,
    1546px 819px #fff, 1974px 95px #fff, 991px 1050px #fff, 1336px 1309px #fff,
    906px 549px #fff, 1343px 1476px #fff, 1653px 1014px #fff, 135px 1856px #fff,
    1029px 205px #fff, 1411px 1749px #fff, 1860px 786px #fff, 1177px 1729px #fff,
    31px 424px #fff, 142px 849px #fff, 1648px 783px #fff, 1446px 1507px #fff,
    759px 1281px #fff, 243px 1855px #fff, 1036px 655px #fff, 1728px 1790px #fff,
    1731px 958px #fff, 377px 729px #fff, 1932px 534px #fff, 1031px 1778px #fff,
    368px 278px #fff, 296px 1576px #fff, 643px 1024px #fff, 1078px 1971px #fff,
    1173px 753px #fff, 429px 986px #fff, 1761px 1052px #fff, 1164px 1381px #fff,
    1723px 435px #fff, 1358px 1621px #fff, 1578px 440px #fff, 505px 1066px #fff,
    1720px 1685px #fff, 681px 615px #fff, 611px 476px #fff, 761px 1091px #fff,
    308px 581px #fff, 145px 8px #fff, 280px 481px #fff, 1730px 982px #fff,
    291px 226px #fff, 1100px 46px #fff, 1628px 1028px #fff, 307px 1050px #fff,
    1701px 1944px #fff, 1745px 1567px #fff, 297px 350px #fff, 971px 179px #fff,
    1841px 1056px #fff, 873px 839px #fff, 659px 1948px #fff, 979px 1063px #fff,
    1013px 1355px #fff, 793px 1520px #fff, 785px 66px #fff, 279px 503px #fff,
    1004px 1339px #fff, 777px 773px #fff, 177px 1223px #fff, 1757px 294px #fff,
    1318px 758px #fff, 1869px 797px #fff, 131px 822px #fff, 800px 333px #fff,
    503px 1117px #fff, 193px 181px #fff, 718px 1924px #fff, 478px 1046px #fff,
    1453px 40px #fff, 1648px 120px #fff, 722px 1867px #fff, 89px 336px #fff,
    665px 1628px #fff, 1744px 1278px #fff, 571px 560px #fff, 606px 1975px #fff,
    1970px 1378px #fff, 19px 1956px #fff, 16px 1289px #fff, 918px 371px #fff,
    194px 1022px #fff, 1424px 1494px #fff, 840px 336px #fff, 1761px 1527px #fff,
    1794px 1906px #fff, 191px 1522px #fff, 1908px 601px #fff, 1329px 88px #fff,
    1510px 875px #fff, 1987px 1067px #fff, 982px 1213px #fff, 853px 1620px #fff,
    1195px 1438px #fff, 1218px 1318px #fff, 779px 801px #fff, 575px 1664px #fff,
    780px 887px #fff, 922px 745px #fff, 1538px 40px #fff, 675px 1529px #fff,
    1409px 693px #fff, 243px 1726px #fff, 548px 1904px #fff, 898px 1209px #fff,
    1667px 1269px #fff, 1099px 1711px #fff, 1929px 137px #fff,
    1511px 1026px #fff, 747px 1035px #fff, 1832px 234px #fff, 768px 1769px #fff,
    64px 1420px #fff, 1492px 1182px #fff, 1642px 1059px #fff, 1725px 1937px #fff,
    1842px 1746px #fff, 194px 1655px #fff, 228px 1886px #fff, 437px 51px #fff,
    1384px 1411px #fff, 1937px 1645px #fff, 478px 344px #fff, 541px 207px #fff,
    1767px 1946px #fff, 510px 792px #fff, 611px 130px #fff, 737px 1886px #fff,
    719px 1170px #fff, 501px 1901px #fff, 142px 448px #fff, 51px 1295px #fff,
    818px 1520px #fff, 1071px 846px #fff, 1426px 88px #fff, 1721px 1554px #fff,
    847px 968px #fff, 285px 1669px #fff, 590px 885px #fff, 131px 723px #fff,
    1437px 677px #fff, 928px 1204px #fff, 490px 629px #fff, 908px 428px #fff,
    760px 142px #fff, 559px 1357px #fff, 1784px 404px #fff, 752px 1523px #fff,
    1027px 261px #fff, 1346px 1937px #fff, 1555px 966px #fff, 1236px 1040px #fff,
    1363px 116px #fff, 1421px 365px #fff, 1789px 179px #fff, 1446px 559px #fff,
    1129px 750px #fff, 530px 1502px #fff, 1571px 1407px #fff, 1184px 1429px #fff,
    1465px 2000px #fff, 488px 1222px #fff, 1287px 746px #fff, 1767px 585px #fff,
    338px 633px #fff, 416px 302px #fff, 1724px 814px #fff, 927px 432px #fff,
    1238px 813px #fff, 104px 1355px #fff, 1133px 1766px #fff, 1045px 251px #fff,
    1874px 38px #fff, 1003px 5px #fff, 1231px 1712px #fff, 521px 1345px #fff,
    164px 1162px #fff, 1954px 801px #fff, 1528px 1345px #fff, 138px 333px #fff,
    375px 811px #fff, 802px 1627px #fff, 594px 1247px #fff, 1974px 346px #fff,
    1530px 575px #fff, 1257px 441px #fff, 852px 1285px #fff, 1362px 288px #fff,
    1889px 1372px #fff, 1316px 169px #fff, 1407px 217px #fff, 882px 15px #fff,
    1764px 43px #fff, 1342px 1345px #fff, 244px 1436px #fff, 1040px 907px #fff,
    1198px 1377px #fff, 1321px 840px #fff, 1833px 366px #fff, 1078px 1545px #fff,
    932px 1245px #fff, 1011px 702px #fff, 249px 962px #fff, 279px 1552px #fff,
    1481px 1977px #fff, 1465px 984px #fff, 166px 312px #fff, 732px 1463px #fff,
    1882px 1474px #fff, 7px 1258px #fff, 943px 1012px #fff, 1395px 697px #fff,
    1892px 231px #fff, 1324px 101px #fff, 341px 1372px #fff, 1584px 192px #fff,
    449px 1613px #fff, 1165px 879px #fff, 355px 136px #fff, 45px 1806px #fff,
    1192px 898px #fff, 1076px 1150px #fff, 1285px 1005px #fff, 836px 1684px #fff,
    1831px 1600px #fff, 1785px 204px #fff, 1317px 1014px #fff, 153px 962px #fff,
    1857px 1313px #fff, 18px 196px #fff, 1460px 1780px #fff, 1193px 1462px #fff,
    1476px 358px #fff, 336px 18px #fff, 337px 1561px #fff, 753px 563px #fff,
    1406px 869px #fff, 1840px 354px #fff, 782px 1627px #fff, 950px 789px #fff,
    833px 1853px #fff, 6px 1451px #fff, 1980px 17px #fff, 1870px 546px #fff,
    1636px 1054px #fff, 1312px 54px #fff, 818px 274px #fff, 1000px 1210px #fff,
    1658px 1797px #fff, 616px 1518px #fff, 1591px 433px #fff, 1181px 1450px #fff,
    1560px 560px #fff, 553px 1697px #fff, 963px 719px #fff, 707px 1389px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1507px 197px #fff, 1515px 491px #fff, 35px 601px #fff,
    1242px 1831px #fff, 1116px 1938px #fff, 893px 1337px #fff, 1119px 764px #fff,
    1388px 868px #fff, 385px 1399px #fff, 889px 1560px #fff, 372px 119px #fff,
    286px 1051px #fff, 1813px 1359px #fff, 1082px 676px #fff, 1423px 483px #fff,
    1971px 931px #fff, 1169px 21px #fff, 317px 89px #fff, 347px 1569px #fff,
    1617px 744px #fff, 437px 1711px #fff, 1708px 337px #fff, 650px 757px #fff,
    1221px 1840px #fff, 1922px 738px #fff, 1912px 1800px #fff, 1677px 995px #fff,
    1259px 247px #fff, 1993px 1445px #fff, 1302px 2000px #fff,
    1778px 1573px #fff, 1135px 1171px #fff, 1960px 1886px #fff, 772px 428px #fff,
    1817px 1652px #fff, 1101px 715px #fff, 936px 249px #fff, 1005px 330px #fff,
    394px 1715px #fff, 589px 866px #fff, 347px 59px #fff, 1576px 737px #fff,
    3px 898px #fff, 1092px 1753px #fff, 856px 952px #fff, 826px 495px #fff,
    1990px 1262px #fff, 1302px 1551px #fff, 257px 674px #fff, 178px 73px #fff,
    1225px 739px #fff, 4px 1038px #fff, 1728px 1671px #fff, 1737px 5px #fff,
    632px 690px #fff, 1974px 1970px #fff, 1556px 809px #fff, 833px 1646px #fff,
    699px 989px #fff, 272px 1892px #fff, 580px 835px #fff, 965px 1735px #fff,
    1006px 1688px #fff, 1581px 349px #fff, 312px 1455px #fff, 1561px 1478px #fff,
    331px 1705px #fff, 1660px 754px #fff, 936px 1806px #fff, 657px 1238px #fff,
    44px 1498px #fff, 584px 718px #fff, 85px 228px #fff, 523px 960px #fff,
    118px 645px #fff, 1596px 1311px #fff, 870px 1412px #fff, 621px 1230px #fff,
    852px 662px #fff, 1999px 1106px #fff, 1019px 1854px #fff, 42px 360px #fff,
    1656px 1116px #fff, 1214px 173px #fff, 692px 150px #fff, 1998px 1005px #fff,
    1341px 1897px #fff, 1917px 1018px #fff, 770px 224px #fff, 579px 749px #fff,
    759px 1856px #fff, 1915px 1696px #fff, 480px 405px #fff, 219px 1299px #fff,
    1867px 89px #fff, 455px 480px #fff, 1653px 947px #fff, 270px 297px #fff,
    477px 1604px #fff, 451px 514px #fff, 1547px 1482px #fff, 1687px 1575px #fff,
    1925px 451px #fff, 177px 1771px #fff, 1064px 1174px #fff, 267px 1816px #fff,
    1897px 1611px #fff, 1910px 1575px #fff, 114px 390px #fff, 1145px 756px #fff,
    1827px 296px #fff, 1958px 366px #fff, 250px 424px #fff, 27px 317px #fff,
    1990px 1912px #fff, 623px 1631px #fff, 309px 1800px #fff, 966px 1828px #fff,
    1506px 1855px #fff, 431px 1091px #fff, 1992px 1170px #fff, 134px 374px #fff,
    1958px 301px #fff, 158px 1022px #fff, 1900px 1166px #fff, 1422px 1490px #fff,
    728px 961px #fff, 750px 1529px #fff, 861px 66px #fff, 88px 1770px #fff,
    826px 213px #fff, 467px 1599px #fff, 545px 364px #fff, 319px 1665px #fff,
    1095px 1808px #fff, 789px 373px #fff, 102px 1904px #fff, 1042px 407px #fff,
    273px 1362px #fff, 467px 1802px #fff, 221px 1329px #fff, 1906px 414px #fff,
    574px 1802px #fff, 850px 1465px #fff, 411px 1394px #fff, 842px 433px #fff,
    479px 1065px #fff, 139px 1722px #fff, 745px 1764px #fff, 39px 1618px #fff,
    438px 1397px #fff, 891px 110px #fff, 1378px 1885px #fff, 288px 93px #fff,
    1353px 1901px #fff, 195px 1316px #fff, 1410px 914px #fff, 1664px 1258px #fff,
    1077px 1204px #fff, 935px 10px #fff, 229px 482px #fff, 804px 690px #fff,
    238px 270px #fff, 48px 588px #fff, 773px 390px #fff, 1040px 335px #fff,
    1479px 1030px #fff, 947px 851px #fff, 1908px 995px #fff, 769px 1890px #fff,
    686px 805px #fff, 449px 215px #fff, 921px 909px #fff, 1931px 554px #fff,
    1873px 314px #fff, 1946px 356px #fff, 1197px 634px #fff, 205px 1935px #fff,
    16px 1524px #fff, 986px 1740px #fff, 1948px 382px #fff, 1166px 582px #fff,
    1006px 1849px #fff, 239px 1205px #fff, 1644px 1661px #fff, 972px 1713px #fff,
    84px 1483px #fff, 293px 441px #fff, 603px 459px #fff, 27px 386px #fff,
    939px 497px #fff, 694px 492px #fff, 155px 1456px #fff, 585px 1324px #fff,
    980px 1795px #fff, 1636px 619px #fff, 450px 1822px #fff, 1137px 690px #fff,
    1631px 1917px #fff, 1444px 1025px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1507px 197px #fff, 1515px 491px #fff, 35px 601px #fff,
    1242px 1831px #fff, 1116px 1938px #fff, 893px 1337px #fff, 1119px 764px #fff,
    1388px 868px #fff, 385px 1399px #fff, 889px 1560px #fff, 372px 119px #fff,
    286px 1051px #fff, 1813px 1359px #fff, 1082px 676px #fff, 1423px 483px #fff,
    1971px 931px #fff, 1169px 21px #fff, 317px 89px #fff, 347px 1569px #fff,
    1617px 744px #fff, 437px 1711px #fff, 1708px 337px #fff, 650px 757px #fff,
    1221px 1840px #fff, 1922px 738px #fff, 1912px 1800px #fff, 1677px 995px #fff,
    1259px 247px #fff, 1993px 1445px #fff, 1302px 2000px #fff,
    1778px 1573px #fff, 1135px 1171px #fff, 1960px 1886px #fff, 772px 428px #fff,
    1817px 1652px #fff, 1101px 715px #fff, 936px 249px #fff, 1005px 330px #fff,
    394px 1715px #fff, 589px 866px #fff, 347px 59px #fff, 1576px 737px #fff,
    3px 898px #fff, 1092px 1753px #fff, 856px 952px #fff, 826px 495px #fff,
    1990px 1262px #fff, 1302px 1551px #fff, 257px 674px #fff, 178px 73px #fff,
    1225px 739px #fff, 4px 1038px #fff, 1728px 1671px #fff, 1737px 5px #fff,
    632px 690px #fff, 1974px 1970px #fff, 1556px 809px #fff, 833px 1646px #fff,
    699px 989px #fff, 272px 1892px #fff, 580px 835px #fff, 965px 1735px #fff,
    1006px 1688px #fff, 1581px 349px #fff, 312px 1455px #fff, 1561px 1478px #fff,
    331px 1705px #fff, 1660px 754px #fff, 936px 1806px #fff, 657px 1238px #fff,
    44px 1498px #fff, 584px 718px #fff, 85px 228px #fff, 523px 960px #fff,
    118px 645px #fff, 1596px 1311px #fff, 870px 1412px #fff, 621px 1230px #fff,
    852px 662px #fff, 1999px 1106px #fff, 1019px 1854px #fff, 42px 360px #fff,
    1656px 1116px #fff, 1214px 173px #fff, 692px 150px #fff, 1998px 1005px #fff,
    1341px 1897px #fff, 1917px 1018px #fff, 770px 224px #fff, 579px 749px #fff,
    759px 1856px #fff, 1915px 1696px #fff, 480px 405px #fff, 219px 1299px #fff,
    1867px 89px #fff, 455px 480px #fff, 1653px 947px #fff, 270px 297px #fff,
    477px 1604px #fff, 451px 514px #fff, 1547px 1482px #fff, 1687px 1575px #fff,
    1925px 451px #fff, 177px 1771px #fff, 1064px 1174px #fff, 267px 1816px #fff,
    1897px 1611px #fff, 1910px 1575px #fff, 114px 390px #fff, 1145px 756px #fff,
    1827px 296px #fff, 1958px 366px #fff, 250px 424px #fff, 27px 317px #fff,
    1990px 1912px #fff, 623px 1631px #fff, 309px 1800px #fff, 966px 1828px #fff,
    1506px 1855px #fff, 431px 1091px #fff, 1992px 1170px #fff, 134px 374px #fff,
    1958px 301px #fff, 158px 1022px #fff, 1900px 1166px #fff, 1422px 1490px #fff,
    728px 961px #fff, 750px 1529px #fff, 861px 66px #fff, 88px 1770px #fff,
    826px 213px #fff, 467px 1599px #fff, 545px 364px #fff, 319px 1665px #fff,
    1095px 1808px #fff, 789px 373px #fff, 102px 1904px #fff, 1042px 407px #fff,
    273px 1362px #fff, 467px 1802px #fff, 221px 1329px #fff, 1906px 414px #fff,
    574px 1802px #fff, 850px 1465px #fff, 411px 1394px #fff, 842px 433px #fff,
    479px 1065px #fff, 139px 1722px #fff, 745px 1764px #fff, 39px 1618px #fff,
    438px 1397px #fff, 891px 110px #fff, 1378px 1885px #fff, 288px 93px #fff,
    1353px 1901px #fff, 195px 1316px #fff, 1410px 914px #fff, 1664px 1258px #fff,
    1077px 1204px #fff, 935px 10px #fff, 229px 482px #fff, 804px 690px #fff,
    238px 270px #fff, 48px 588px #fff, 773px 390px #fff, 1040px 335px #fff,
    1479px 1030px #fff, 947px 851px #fff, 1908px 995px #fff, 769px 1890px #fff,
    686px 805px #fff, 449px 215px #fff, 921px 909px #fff, 1931px 554px #fff,
    1873px 314px #fff, 1946px 356px #fff, 1197px 634px #fff, 205px 1935px #fff,
    16px 1524px #fff, 986px 1740px #fff, 1948px 382px #fff, 1166px 582px #fff,
    1006px 1849px #fff, 239px 1205px #fff, 1644px 1661px #fff, 972px 1713px #fff,
    84px 1483px #fff, 293px 441px #fff, 603px 459px #fff, 27px 386px #fff,
    939px 497px #fff, 694px 492px #fff, 155px 1456px #fff, 585px 1324px #fff,
    980px 1795px #fff, 1636px 619px #fff, 450px 1822px #fff, 1137px 690px #fff,
    1631px 1917px #fff, 1444px 1025px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1091px 143px #fff, 1364px 1375px #fff, 72px 1012px #fff,
    1886px 1090px #fff, 1784px 810px #fff, 113px 977px #fff, 127px 1354px #fff,
    1369px 267px #fff, 699px 1242px #fff, 1320px 1036px #fff, 434px 1726px #fff,
    246px 209px #fff, 490px 605px #fff, 1265px 371px #fff, 140px 837px #fff,
    1013px 1411px #fff, 846px 1383px #fff, 9px 294px #fff, 253px 792px #fff,
    954px 153px #fff, 1254px 812px #fff, 1272px 842px #fff, 742px 957px #fff,
    1609px 1188px #fff, 1146px 1605px #fff, 1327px 636px #fff, 934px 1913px #fff,
    1477px 727px #fff, 738px 334px #fff, 32px 1018px #fff, 876px 712px #fff,
    669px 1978px #fff, 817px 793px #fff, 1417px 647px #fff, 1974px 996px #fff,
    123px 619px #fff, 842px 1647px #fff, 36px 1870px #fff, 42px 661px #fff,
    847px 1916px #fff, 1291px 1103px #fff, 511px 725px #fff, 144px 1369px #fff,
    1203px 544px #fff, 1299px 1791px #fff, 503px 825px #fff, 69px 1818px #fff,
    1557px 140px #fff, 1054px 1844px #fff, 260px 1243px #fff, 265px 1735px #fff,
    1905px 39px #fff, 308px 1311px #fff, 720px 951px #fff, 1301px 1939px #fff,
    1556px 1829px #fff, 96px 1294px #fff, 22px 581px #fff, 1808px 647px #fff,
    1784px 1026px #fff, 489px 573px #fff, 934px 530px #fff, 1929px 1925px #fff,
    1956px 782px #fff, 1585px 515px #fff, 1533px 107px #fff, 1049px 1617px #fff,
    1238px 1030px #fff, 463px 67px #fff, 1014px 386px #fff, 787px 594px #fff,
    885px 95px #fff, 1377px 305px #fff, 880px 1131px #fff, 1206px 1901px #fff,
    155px 1280px #fff, 984px 855px #fff, 35px 1246px #fff, 838px 1047px #fff,
    1192px 1423px #fff, 1373px 37px #fff, 1319px 897px #fff, 1682px 268px #fff,
    1464px 639px #fff, 1523px 560px #fff, 959px 502px #fff, 1707px 584px #fff,
    1154px 565px #fff, 1358px 1273px #fff, 1312px 577px #fff, 952px 225px #fff,
    251px 774px #fff, 462px 128px #fff, 1922px 1314px #fff, 275px 633px #fff,
    297px 1997px #fff, 11px 823px #fff, 1755px 957px #fff, 877px 571px #fff,
    420px 1765px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1091px 143px #fff, 1364px 1375px #fff, 72px 1012px #fff,
    1886px 1090px #fff, 1784px 810px #fff, 113px 977px #fff, 127px 1354px #fff,
    1369px 267px #fff, 699px 1242px #fff, 1320px 1036px #fff, 434px 1726px #fff,
    246px 209px #fff, 490px 605px #fff, 1265px 371px #fff, 140px 837px #fff,
    1013px 1411px #fff, 846px 1383px #fff, 9px 294px #fff, 253px 792px #fff,
    954px 153px #fff, 1254px 812px #fff, 1272px 842px #fff, 742px 957px #fff,
    1609px 1188px #fff, 1146px 1605px #fff, 1327px 636px #fff, 934px 1913px #fff,
    1477px 727px #fff, 738px 334px #fff, 32px 1018px #fff, 876px 712px #fff,
    669px 1978px #fff, 817px 793px #fff, 1417px 647px #fff, 1974px 996px #fff,
    123px 619px #fff, 842px 1647px #fff, 36px 1870px #fff, 42px 661px #fff,
    847px 1916px #fff, 1291px 1103px #fff, 511px 725px #fff, 144px 1369px #fff,
    1203px 544px #fff, 1299px 1791px #fff, 503px 825px #fff, 69px 1818px #fff,
    1557px 140px #fff, 1054px 1844px #fff, 260px 1243px #fff, 265px 1735px #fff,
    1905px 39px #fff, 308px 1311px #fff, 720px 951px #fff, 1301px 1939px #fff,
    1556px 1829px #fff, 96px 1294px #fff, 22px 581px #fff, 1808px 647px #fff,
    1784px 1026px #fff, 489px 573px #fff, 934px 530px #fff, 1929px 1925px #fff,
    1956px 782px #fff, 1585px 515px #fff, 1533px 107px #fff, 1049px 1617px #fff,
    1238px 1030px #fff, 463px 67px #fff, 1014px 386px #fff, 787px 594px #fff,
    885px 95px #fff, 1377px 305px #fff, 880px 1131px #fff, 1206px 1901px #fff,
    155px 1280px #fff, 984px 855px #fff, 35px 1246px #fff, 838px 1047px #fff,
    1192px 1423px #fff, 1373px 37px #fff, 1319px 897px #fff, 1682px 268px #fff,
    1464px 639px #fff, 1523px 560px #fff, 959px 502px #fff, 1707px 584px #fff,
    1154px 565px #fff, 1358px 1273px #fff, 1312px 577px #fff, 952px 225px #fff,
    251px 774px #fff, 462px 128px #fff, 1922px 1314px #fff, 275px 633px #fff,
    297px 1997px #fff, 11px 823px #fff, 1755px 957px #fff, 877px 571px #fff,
    420px 1765px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* End Parallax Star background */

#title {
  margin-top: 40%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#title button {
  margin-top: 1em;
}

.theme {
  height: 100%;
  width: 10rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 2em;
  letter-spacing: 0.2rem;

  /* Disallow text selection since I hope people slam the action buttons */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.theme span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.theme button {
  background-color: transparent;
  color: #9099a3;

  border-radius: 0.4rem;
  border: 0.05em solid #9099a3;
  display: inline-block;
  font-family: "lato", sans-serif;
  font-size: 2rem;
  padding: 0.6em 0.4rem;
  margin: 0.6rem;
}
.theme button:active {
  position: relative;
  top: 0.3rem;
}

.theme .restart {
  border-radius: 2rem;
  background-color: #17202c;
  border: 0.1em solid #9099a3;
  display: inline-block;
  position: fixed;
  top: 40vh;
  margin-left: auto;
  margin-right: auto;
  left: 5vw;
  right: 5vw;
}

#selectionList {
  display: block;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

.coinSelection {
  display: inline-block;
  overflow-y: scroll;
  padding: 0.4rem;
  width: 40vw;
  padding-top: 0.9rem;
}

.coinSelection img {
  padding-top: 0.4rem;
  width: 20vw;
}

.coinSelection span {
  font-size: 1rem;
}

#game {
  top: 10vh;
  width: 90vw;
  left: 5vw;
  right: 5vw;
}

#game img {
  margin-top: 10vh;
  left: 5vw;
  right: 5vw;
}

#game progress {
  width: 100%;
  left: 5vw;
  right: 5vw;
}

#game #imgBig {
  height: 30vh;
}

#game #imgSmall {
  height: 28vh;
}

#game #actionButtons {
  position: absolute;
  left: 5vw;
  right: 5vw;
  bottom: 5%;
}
